<div class="recipe_container">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<p>
  <strong>Vegetarian:</strong>
  <%= @recipe.vegetarian %>
</p>
<p>
  <strong>Vegan:</strong>
  <%= @recipe.vegan %>
</p>
<p>
  <strong>Dairy:</strong>
  <%= @recipe.dairy %>
</p>
<p>
  <strong>Soy:</strong>
  <%= @recipe.soy %>
</p>
<p>
  <strong>Gluten:</strong>
  <%= @recipe.gluten %>
</p>

<p>
  <strong>Ingredients:</strong>
  <ul>
  <% @recipe.ingredients.each do |ingredient|%>
  <li><%= ingredient.name %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Gadgets:</strong>
  <ul>
  <% @recipe.gadgets.each do |gadget|%>
  <li><%= gadget.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
</div>
