<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cookbook.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @cookbook.user_id %>
</p>
<p>
  <strong>Recipes:</strong><br>
  <ol>
  <% @cookbook.recipes.each do |recipe|%>
  <li><%= recipe.name %></li>
  <%= link_to 'Delete', "/cookbooks/#{@cookbook.id}/remove_recipe/#{recipe.id}s", method: :delete, data: {confirm: "Are you sure you want to remove this recipe?"}%><br>
  <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_cookbook_path(@cookbook) %> |
<%= link_to 'Back', cookbooks_path %>
