<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cookbook.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @cookbook.user_id %>
</p>
<p>
  <strong>Recipes:</strong><br>
  <ol>
  <% @cookbook.recipes.each do |recipe|%>
    <li><%= recipe.name %>
    <%= link_to 'Delete', "/cookbooks/#{@cookbook.id}/remove_recipe/#{recipe.id}", method: :delete, data: {confirm: "Are you sure you want to remove this recipe?"}%></li><br>
    <%= link_to 'Add Note', "/cookbooks/:id/add_note/:recipe_id", method: :post %>

     <%= form_for :cookbook_recipe, url: "/cookbooks/#{@cookbook.id}/add_note/#{recipe.id}" do |p| %>
       <%= p.label :notes %><br />
       <%= p.text_area :notes %><br />

       <%= submit_tag("Update") %>
     <%end%> 
  <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_cookbook_path(@cookbook) %> |
<%= link_to 'Back', cookbooks_path %>


